   /* ----------  RESET CSS ----------------- */

   /* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed,
   figure, figcaption, footer, header, hgroup,
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
       margin: 0;
       padding: 0;
       border: 0;
       font-size: 100%;
       font: inherit;
       vertical-align: baseline;
   }

   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure,
   footer, header, hgroup, menu, nav, section {
       display: block;
   }

   body {
       line-height: 1;

   }

   ol, ul {
       list-style: none;
   }

   blockquote, q {
       quotes: none;
   }

   blockquote:before, blockquote:after,
   q:before, q:after {
       content: '';
       content: none;
   }

   table {
       border-collapse: collapse;
       border-spacing: 0;
   }

   /* =============================================================
                  begin MOSTLY STYLE
============================================================= */

   /* =============  BASE STYLES  ==================*/
   body * {
       box-sizing: border-box;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       font-family: 'Kanit', sans-serif;
       font-size: large;

   }

   a, a:active {
       text-decoration: none;
       color: inherit;
   }

   body {
       background: rgb(255, 255, 255)
   }

   h1 {
       font-size: 1.2em;
       color: rgb(34, 70, 37);
   }

   h2 {
       font-size: 1.4em;
   }

   h4 {
       font-size: 1.2em;
   }

   h5 {
       font-size: 1.2em;

       padding-top: 20px;
       padding-bottom: 5px;
   }

   /* =============  HEADER ==================*/
   header {
       display: flex;
       justify-content: space-around;
       align-items: center;
       height: 6vh;
       position: fixed;
       width: 100vw;
       text-align: center;
       z-index: 4;
       line-height: 1.5em;
       background: linear-gradient(360deg, rgb(220, 223, 225), rgba(242, 243, 244, 0.844));
   }

   /* home button */
   nav.home {
       color: rgb(2, 2, 2);
       font-size: 10px;
       box-shadow: 2px 2px 10px rgb(255, 255, 255);
       padding: 0 15px;
       height: 35px;
       width: auto;
   }

   nav.home:hover {
       background: rgb(202, 189, 155);
       box-shadow: 2px 2px 10px rgb(255, 255, 255);
   }

   .infoLabel p:hover {
       background: rgb(202, 189, 155);
   }

   /* =============  OPTIONAL STYLES ==================*/
   .hidden {
       visibility: hidden;
   }

   .centerText {
       text-align: center;
   }


   /* default img size */
   img {
       width: 90%;
       margin: 1em 5%;
       box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 68px;
   }

   /* these img classes can be used to adjust specific blog entries' images */
   .img75 {
       width: 75%;

   }

   .img65 {
       width: 65%;
   }

   .img55 {
       width: 55%;
   }

   img[src*='console'] {
       width: 20%;
   }

   /* ==========   INFO DROPDOWN IN TOP LEFT OF SCREEN  ================*/

   /* ======   DROPDOWN FUNCTIONALITY     =======*/

   input#boxCheck {
       /* checkbox */
       visibility: hidden;
   }

   input#boxCheck2 {
       /* checkbox */
       visibility: hidden;
   }

   .infoDropdown {
       display: none;
   }

   /* INFO dropdown properties --- it is displayed with :hover below by default and with :checked on mobile query 1200px */
   #infoDropdown {
       position: absolute;
       z-index: 3;
       display: none;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
       top: 6vh;
       left: 0vw;
       height: 220px;
       width: 50vw;
       background: rgba(239, 239, 239, 0.96);
       border-top: 1px solid black;
       color: rgb(7, 7, 6);

   }

   input#boxCheck:hover~#infoDropdown {
       display: flex;
   }

   /* this is supposed to change caret sideways tpo caret-down */
   .fa-caret-down.hidden {
       display: none;
   }

   /* X to close previous ^^ description block -hidden until mobile query 1200px */

   .XtoCloseContainer {
       display: none;
   }

   /*=========  DROPDOWN STYLES  =========*/

   header #easiestHardest {
       background-color: #ffffff;
       background: linear-gradient(to right, rgb(11, 207, 21), rgb(226, 104, 23)80%);
       width: 100%;
       padding: 5px 13px;
       border: 2px solid rgb(192, 184, 184);
       font-size: 1.3em;
       background-position: center;
       -webkit-background-clip: text;
       -moz-background-clip: text;
       -webkit-text-fill-color: transparent;
       -moz-text-fill-color: transparent;
   }

   .star-bigger {
       font-size: 1em;
   }

   .fa-play {
       font-size: .8rem;
       padding-right: 10px;
   }

   .infoLabelContain {
       height: 35px;
       box-shadow: 2px 2px 10px rgb(255, 255, 255);
   }

   .infoLabel p {
       width: 130px
   }



   /*  ------- END of  INFO dropdown ------------- */

   /* ================================ BEGIN KYU CONTAINER ================================= */

   /* -------------- KYU CONTAINER ------------------------------- */
   .comingSoon {
       margin: 20px auto;
   }

   /*for kyu's that don't have content yet -- tried to make transparent*/
   .transparentGreyOverlay {

       position: relative;
       z-index: 3;
       width: 100%;
       height: 100%;
   }

   /* ====================== BEGIN 'DISPLAY DROPDOWN CONTENT' STYLES ================================= */

   .title {
       display: flex;
       align-items: center;
       justify-content: center;
       border-bottom: 1px solid rgb(121, 128, 130);
       margin: auto 5%;
       /* background: rgb(127, 140, 141);     color for background of codesnap */
       font-size: 1.7rem;
       font-weight: 700;
       word-spacing: 10px;
       letter-spacing: 1px;
       min-height: 2em;
       height: auto;
       margin-bottom: 20px;
       padding-bottom: 10px;
       color: rgb(2, 3, 2);
   }

   .solution {
       color: rgb(56, 47, 31);
       margin-bottom: 10px;
   }

   .best {
       color: rgb(24, 97, 24);
       margin-bottom: 10px;
   }

   .tryIt {
       color: rgb(27, 90, 90);
       font-weight: 500;
       font-size: 1.4rem;

       padding-bottom: 10px;
   }

   .result {
       min-width: 70%;
       width: auto;
       margin: auto 15%;
       min-height: 3em;
       height: auto;
       border: 1px solid grey;
       margin-top: 20px;
       white-space: pre-line;
   }

   .marginTop {
       margin-top: 10px;
   }

   .fa-star {
       color: orange;
       font-size: .5em;
   }

   /* this is to help space the list items, it uses a hidden star */
   div .spacer-hide {
       visibility: hidden;
   }

   .bold {
       font-weight: 600;
       color: rgb(207, 109, 29);
   }

   button {
       font-size: 20px;
       min-width: 80px;
       width: auto;
       height: 1.6em;
       background: rgb(170, 180, 163);
   }

   button:hover {
       background: rgb(132, 189, 127);
   }

   .resetButton {
       background: rgb(240, 210, 147);
   }

   .resetButton:hover {
       background: rgb(247, 158, 42);
   }

   .assignmentParagraph p {

       margin: auto 10%;
       line-height: 1.1em;
   }

   .assignmentSmallerText {
       font-size: 1.2em;
       margin-top: 20px;
   }


   section.assignmentSmallerText {
       display: flex;
       justify-content: space-evenly
   }


   /* -------------- END OF DROPDOWN STYLES ------------------------------- */

   /* -------------- END OF MOSTLY STYLES ------------------------------- */

   /* =============================================================
                  begin MOSTLY LAYOUT
============================================================= */
   main, .kyu, .dropdown, .kyu h3, .displayDailySolutionContainer, ul.kyuNav, .kyuNav li {
       display: flex;
   }


   /* 
this whole section can be deployed once there are lots of list items; 
it is a NAV BAR FOR KYU SECTIONS, the style and layout is all; here, but it might 
need some work with where it navigates to (into center of kyu sections)

ul.kyuNav {
    flex-direction: row;
    background: rgb(231, 229, 229);
    height: 50px;
    width: 20vw;
    ---this 'top' matches the header height, if changed must change header height as well ---
    top: 8vh;
    position: fixed;
    z-index: 2;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 4px;
}

.kyuNav a {
    text-decoration: none;
    color: rgb(16, 97, 8);
    background: none;
    font-size: larger;
}

.kyuNav li {
    border: 1px solid black;
    flex-basis: 10%;
    height: 80%;
    align-items: center;
    justify-content: center;
}

.kyuNav li:hover {
    background: rgb(140, 206, 223);
}
 */
   main {

       color: rgb(30, 31, 30);
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       justify-content: space-between;

       gap: 3%;
       margin: auto 5vw;
   }

   /* positioned to left side of screen */
   .kyuVerticalContainer {
       margin: 8.88vh 0;
       flex-basis: 20vw;
   }

   section.kyu {
       text-align: center;
       margin: 15px auto;
       background: rgb(241, 238, 233);
       height: auto;
       flex-direction: column;
       align-items: center;
       justify-content: flex-start;
       position: relative;
       z-index: 1;
       scrollbar-width: 1px;
       /* flex-basis: 18vw; */
   }

   .kyu h3 {
       justify-content: center;
       align-items: center;
       margin-bottom: 10px;
       height: 30px;
       color: rgb(243, 252, 247);
       width: 20vw;

       background: rgb(127, 140, 141);

   }


   /* to remove margin from section top to match the display container*/
   section.kyuVerticalContainer section:first-child {
       margin-top: 0;
   }

   /* --------     main block that displays for each daily codewars item                                ---------
-----------    JS make it 'stick' when clicked, but it also displays on mouse hover for a preview    -------- 
dropdown - list items in left navgation bar |  dropdown-content - the content that is displayed when .dropdown item is clicked*/
   .dropdown {
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       width: 15vw;
       align-items: center;
       position: relative;
       height: 33px;
       border-bottom: 1px solid rgb(160, 170, 160);
   }

   .displaySolutionContainer {
       position: fixed;
       top: 10.5vh;
       right: 5vw;
       z-index: 1;
       background: rgba(159, 148, 148, 0.356);
       width: 67vw;
       height: 85%;
   }

   .dropdown-content {
       display: none;
       position: fixed;
       right: 5vw;
       /* if changing this top also change kyuVerticalContainer  and  displaySolutionContainer  TOP + RIGHT + width*/
       top: 10.5vh;
       background-color: #ffffff;
       width: 67vw;
       height: 85%;
       box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 68px;
       padding: 12px 16px;
       z-index: 4;
       overflow-y: scroll;
   }


   .dropdown.last, .dropdownTest.last {
       border-bottom: none;
       margin-bottom: 10px;
   }

   /* .dropdown:hover+.dropdown-content {
    display: block;
    }

    .dropdown:hover .dropdown-content {
    display: block;
    } */

   /*   .list-item-hover-color {
       background-color: rgba(202, 197, 151, 0.486);
   } */
   section.kyu:hover {
       z-index: 2;
   }

   .dropdown:hover {
       background-color: rgba(161, 161, 149, 0.281);
   }

   .list-item-selected:hover {
       background: rgb(202, 189, 155);
   }

   /* -----------      js uses 'stick' to make blocks stick until next one is clicked */
   .list-item-selected {
       background: rgb(202, 189, 155);
   }

   .stick {
       display: block;
       z-index: 1;
   }

   /* -----------      js uses stickHover to make blocks show preview of block on mouseenter/ hides on mouse leave */
   /* stickHover is removed for mobile query <1000px because it made the poppups (sticks) not work on mobile */
   .dropdown-content-preview {
       display: block;
       border-radius: 8px;
       z-index: 5;
       position: fixed;
       left: 26vw;
       top: 10vh;
       background-color: rgb(227, 225, 219);
       width: 30vw;
       max-height: 70vh;
       box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
       padding: 12px 16px;
       overflow: hidden;
   }



   /* dropdown from harirsalon? */
   /* input#boxCheck {
    /*checkbox*/
   /* visibility: hidden; */



   /* input:checked~#dropDownItems {
    display: flex;
    flex-flow: column;
    align-items: space-between;
    justify-content: flex-start;
    height: 200px;
} */

   @media screen and (max-width: 1200px) {


       .XtoCloseContainer {
           display: block;
           right: 10px;
           top: 15px;
       }

       /* formating for 2 sections side by side */
       .assignmentSmallerText {
           font-size: .7em;

       }

       .assignmentSmallerText>.divFirst {
           border-right: solid 1px black;
       }

       .fa-rectangle-xmark {
           font-size: 1.5em;
           color: rgb(255, 82, 1);
       }

       input#boxCheck:checked~#infoDropdown {
           display: none;
       }


   }

   @media screen and (max-width: 1000px) {
       * {
           font-size: 20rem;
       }

       img {
           width: 90%;
           margin: 1em 5%;
           box-shadow: rgba(0, 0, 0, 0.25) 0px 20px 68px;
       }

       main {
           margin: auto 0vw;
       }

       header {
           height: 6vh;
       }

       .title {

           border-bottom: 1px solid rgb(121, 128, 130);
           margin-top: 10px;

           font-size: 2rem;
           font-weight: 700;
           word-spacing: 10px;
           letter-spacing: 1px;
           min-height: 2em;
           height: auto;
           margin-bottom: 20px;
           padding-bottom: 10px;

       }

       .dropdown {
           width: 15vw;
       }

       .dropdown-content p, .dropdown-content label {
           font-size: 1.4em;
       }

       input {
           margin-top: 15px;
       }

       .solution, .tryIt {
           font-size: 2em;
       }

       h1, .infoLabel {
           font-size: 1.4rem;
       }

       .home {
           font-size: 35px;
           width: auto;
       }

       .dropdown {
           height: 50px;
       }

       .kyu h3 {
           font-size: 1.4rem;
           height: 60px;
           display: flex;
           align-items: center;
       }

       section.kyuVerticalContainer {
           margin: 6vh 0;
           flex-basis: 10vw;
       }

       section.kyu {
           margin: 0px auto;
       }

       .displaySolutionContainer {
           position: fixed;
           top: 6vh;
           right: 0vw;
           z-index: 1;
           background: rgba(255, 255, 255, 0.356);
           width: 80vw;
           height: 100%;
       }

       .dropdown-content {
           position: fixed;
           right: 0vw;
           /* if changing this top also change kyuVerticalContainer  and  displaySolutionContainer  TOP + RIGHT + width*/
           top: 6vh;
           background-color: #f9f9f9;
           width: 80vw;
           height: 100%;
           box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
           padding: 12px 16px;
           z-index: 4;
           overflow-y: scroll;
       }
   }