/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;

}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* =============================================================
                        begin
============================================================= */

body * {
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;

}



h1 {
    font-size: 1.3em;
}

h2 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.2em;

    padding-top: 20px;
    padding-bottom: 5px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    position: fixed;
    width: 100vw;
    text-align: center;
    z-index: 4;
    line-height: 1.5em;
    background: rgb(240, 253, 244);
}


nav.home {
    color: white;
    box-shadow: 2px 2px 10px rgb(255, 255, 255);
    font-size: .8em;
    background: rgba(128, 128, 128, 0.507);
    padding: 5px 15px;
}

.hidden {
    visibility: hidden;
}

.centerText {
    text-align: center;
}

/*  INFO description dropdown  */

input#boxCheck2 {
    /* checkbox */
    visibility: hidden;
}


img {
    width: 75%;
}

.img100 {
    width: 100%;
}

.img65 {
    width: 67%;
}

.img50 {
    width: 50%;
}

header #easiestHardest {
    background-color: #ffffff;
    background: linear-gradient(to right, rgb(11, 207, 21), rgb(226, 104, 23)80%);
    width: 100%;
    padding: 5px 13px;
    border: 2px solid rgb(192, 184, 184);
    font-size: 1.5em;
    background-position: center;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}


/* -------------- BEGIN OF STYLES ------------------------------- */
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(241, 238, 233);
    font-size: 1.5rem;
    word-spacing: 10px;
    letter-spacing: 1.5px;
    height: 2em;
    margin-bottom: 10px;
    color: rgb(39, 32, 129);
    /* text-shadow: 4px 4px #ffffff; */
    -webkit-text-fill-color: rgba(44, 109, 134, 0.904);
    /* -webkit-text-stroke-color: rgba(41, 49, 38, 0.76); */
    -webkit-text-stroke-width: .5px;
}

.assignmentParagraph {

    margin: auto 10%;
    line-height: 1.3em;
}

.assignmentSmallerText {
    font-size: 8px;
}

section.assignmentSmallerText {
    display: flex;
    justify-content: space-evenly
}

.solution {
    color: rgb(56, 47, 31);
    margin-bottom: 10px;
}

.best {
    color: rgb(24, 97, 24);
    margin-bottom: 10px;
}

.tryIt {
    color: rgb(27, 90, 90);
    font-weight: 500;
    font-size: 1.4rem;

    padding-bottom: 10px;
}

.result {
    width: 50%;
    margin: auto 25%;
    min-height: 3em;
    border: 1px solid grey;
    margin-top: 20px;
}

.marginTop {
    margin-top: 10px;
}

.fa-star {
    color: orange;
    font-size: .5em;
}

.star-bigger {
    font-size: 1em;
}

.fa-play {
    font-size: .8rem;
    padding-right: 10px;
}

/* this is to help space the list items, it uses a hidden star */
div .spacer-hide {
    visibility: hidden;
}

.bold {
    font-weight: 600;
    color: rgb(207, 109, 29);
}



button {
    width: 100px;
    height: 2em;
    background: rgb(142, 175, 142);
}

button:hover {
    background: rgb(121, 223, 111);
}

.resetButton {
    background: rgb(240, 210, 147);
}

.resetButton:hover {
    background: rgb(247, 158, 42);
}

body {
    background: rgb(200, 206, 204);
}

/*for kyu's that don't have content yet -- tried to make transparent*/
.transparentGreyOverlay {
    background: rgba(124, 114, 102, 0.61);
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
}

.comingSoon {
    margin: 20px auto;
}

.infoLabelContain {
    height: 35px;

}

.infoLabel p {
    width: 150px
}

.infoLabel p:hover {
    background: rgb(167, 194, 167);
}

/* -------------------------------------------------------------
this whole section below is for the info dropdown on hover 
-------------------------------------------------------------*/

input#boxCheck {
    /* checkbox */
    visibility: hidden;
}

.infoDropdown {
    display: none;
}

/* INFO dropdown properties --- it is displayed with :hover below by default and with :checked on mobile query 1200px */
#infoDropdown {
    position: absolute;
    z-index: 3;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 6vh;
    left: 1vw;
    height: 200px;
    width: 50vw;
    background-color: rgb(218, 233, 215);
    color: rgb(7, 7, 6);
}

input#boxCheck:hover~#infoDropdown {
    display: flex;
}

/* this is supposed to change caret sideways tpo caret-down */
.fa-caret-down.hidden {
    display: none;
}

/* X to close previous ^^ description block -hidden until mobile query 1200px */

.XtoCloseContainer {
    display: none;
}


/* ---end X to close ----*/

/* -------------- END OF STYLES ------------------------------- */


/* -------------- LAYOUT  BEGIN------------------------------- */
main, .kyu, .dropdown, .kyu>h3, .displayDailySolutionContainer, ul.kyuNav, .kyuNav li {
    display: flex;
}


/* 
this whole section can be deployed once there are lots of list items; 
it is a navigation bar, the style and layout is all; here, but it might 
need some work with where it navigates to (into center of kyu sections)

ul.kyuNav {
    flex-direction: row;
    background: rgb(231, 229, 229);
    height: 50px;
    width: 20vw;
    ---this 'top' matches the header height, if changed must change header height as well ---
    top: 8vh;
    position: fixed;
    z-index: 2;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 4px;
}

.kyuNav a {
    text-decoration: none;
    color: rgb(16, 97, 8);
    background: none;
    font-size: larger;
}

.kyuNav li {
    border: 1px solid black;
    flex-basis: 10%;
    height: 80%;
    align-items: center;
    justify-content: center;
}

.kyuNav li:hover {
    background: rgb(140, 206, 223);
}
 */
main {

    color: rgb(30, 31, 30);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-between;

    gap: 3%;
    margin: auto 5vw;
}

/* positioned to left side of screen */
.kyuVerticalContainer {
    margin: 12vh 0;
    flex-basis: 20vw;
}

.displaySolutionContainer {
    position: fixed;
    top: 12vh;
    right: 5vw;
    z-index: 1;
    background: rgba(255, 255, 255, 0.356);
    width: 67vw;
    height: 80vh;
}

section.kyu {
    text-align: center;
    margin: 15px auto;
    background: rgb(241, 238, 233);
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 1;
    scrollbar-width: 1px;
    /* flex-basis: 18vw; */
}

.kyu h3 {
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 30px;
    color: rgb(74, 235, 146);
    background: rgb(116, 106, 106);
    width: 20vw;
}

/* to remove margin from section top to match the display container*/
section.kyuVerticalContainer section:first-child {
    margin-top: 0;
}

/* --------     main block that displays for each daily codewars item                                ---------
-----------    JS make it 'stick' when clicked, but it also displays on mouse hover for a preview    -------- */
.dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 15vw;
    align-items: center;
    position: relative;
    height: 33px;
    border-bottom: 1px solid rgb(160, 170, 160);
}


.dropdown-content {
    display: none;
    position: fixed;
    right: 5vw;
    /* if changing this top also change kyuVerticalContainer  and  displaySolutionContainer  TOP + RIGHT + width*/
    top: 12vh;
    background-color: #f9f9f9;
    width: 67vw;
    height: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 4;
    overflow-y: scroll;
}

.dropdown.last, .dropdownTest.last {
    border-bottom: none;
    margin-bottom: 10px;
}

/* -------  css :hover displays preview of block  ------------------- */
/* --- this will have to be done in JS because the dropdown-content isn't in the same div anymore */
.dropdown:hover+.dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover {
    background-color: rgba(252, 235, 88, 0.486);
}


/* -----------      js makes block stick untill next one is clicked */

.stick {
    display: block;
}

/* -------------           then un-stick removes 'stick' class      ------ */
.un-stick {
    display: none;
}




/* dropdown from harirsalon? */
/* input#boxCheck {
    /*checkbox*/
/* visibility: hidden; */



/* input:checked~#dropDownItems {
    display: flex;
    flex-flow: column;
    align-items: space-between;
    justify-content: flex-start;
    height: 200px;
} */
@media screen and (max-width: 1200px) {
    input#boxCheck:checked~#infoDropdown {
        display: flex;
        height: 300px;
    }

    .XtoCloseContainer {
        display: block;
        right: 10px;
        top: 15px;
    }

    .fa-rectangle-xmark {
        font-size: 1.5em;
        color: rgb(255, 82, 1);
    }

    input#boxCheck:checked~#infoDropdown {
        display: none;
    }

}

@media screen and (max-width: 1000px) {
    * {
        font-size: 1em;
    }

    header .easiestHardest {
        width: 90%;
        margin: auto 5%;
        font-size: 2rem;
    }

    header p {
        font-size: 14px;
    }

    section.kyu {}

    .kyu>h3 {}



}